.display fieldset {
	border: none;
}

.display legend {
	width: 100%;
	clear: both;
	margin-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom: 4px;
	color: #9e988e;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
}

.display .field>.label {
	display: block;
	float: left;
	margin-top: 6px;
	font-size: 11px;
	font-weight: bold;
	margin-left: 2px;
	width: 100px;
}