html {
    overflow-y: scroll;
}

.display .label, .editor .label {
	margin: 1em 0 0 0;
	font-weight: bold;
}

.display .field, .editor .field {
	margin: 0.5em 0 0 0;
}

.editor .text-field {
	width: 28em;
}

.editor .text-field.multi-line {
	height: 6.5em;
}

.editor .check-box {
}

.scaffold,
.scaffold ul,
.scaffold ol,
.scaffold li,
.scaffold fieldset,
.scaffold legend,
.scaffold input,
.scaffold textarea,
.scaffold select,
.scaffold p {
  margin: 0;
  padding: 0;
}

.scaffold ol {
  	list-style: none;
}

.scaffold .field-error {
	display: block;
}

/* Activo Tweaks */

#header { background: #333; }
#header h1 { padding: 0em; }

/* EOF */